.extension-container {
  height: 100vh;
  width: 100%
}

.ext-header {
  padding: 14px;
  border: 1px solid #ccc;
}

.ext-content {
  height: 405px;
  overflow: auto;
}

.extension-link {
  text-decoration: none;
  outline: none;
}

.extension-link:hover {
  text-decoration: none;
  outline: none;
}

.extension-link:hover .password:hover {
  background: linear-gradient(89.49deg, #D2FBEA 0.03%, rgba(210, 251, 234, 0) 99.94%);
}

.extension-link .password {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding: 20px 15px;
}

.extension-link .password i {
  color: #1CD8D2;
}

.extension-link .nav-title {
  color: #263238;
}

.extension-link .nav-right-angle {
  position: absolute;
  right: 15px;
}

.nav-icon i {
  color: #CACACA;
  font-weight: bold;
  font-size: 20px;
}

.ext-footer {
  height: 50px;
}

.ext-footer img {
  width: 100%;
  height: 100%;
}

.list-header {
  padding: 14px;
  border: 1px solid #ccc;
  text-align: center;
}

.list-header .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

.list-header .nav-back {
  position: absolute;
  left: 15px;
  top: 10px;
}

.list-header .nav-back i {
  color: #1CD8D2;
  font-size: 26px;
}

.ext-content .title {
  background: #FAFAFA;
  margin-top: 15px;
  padding: 5px 15px;
}

.content-list {
  padding: 0px 15px;
}

.content-list .item {
  padding: 5px 0;
}

.content-list .item-detail {
  margin-left: 10px;
}

.item-detail .text {
  font-size: 12px;
  color: black;
}

.item-detail .sub-text {
  font-size: 10px;
  color: #6F6F6F;
}