/* Globals */

:root  {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270F34;
  --brand-lines: #4B3457;
  /* Blockstack colors */
  --brand-dark: #191d24;
  --brand-mild: #C4D8E5;
  --brand-greyish: #F1F6F9;
  --brand-bright: #3700FF;
  --brand-accent: #00D4FF;
}

html,body{
  background-color:#fdfcff;
  font-family: Rubik;
}

inspect {
  border: thin solid red;
}

.navbar-dark {
  background-color: var(--brand-dark) !important;
}

/* Avatar */

.avatar{width:40px; height:40px; border-radius: 50%}

/* Scaffolding */

.panel-landing {
  max-width: 50em;
  margin: auto;
}

.password-visibility-btn {
  position: absolute;
  top: 6px;
  right: 25px;
  cursor: pointer;
}

.password-visibility-btn i {
  color: #1CD8D2;
}

.side-content {
  width: 300px;
  overflow-x: hidden;
  background: linear-gradient(180deg, #93EDC7 0%, #1CD8D2 100%);
  border-radius: 0px 50px 50px 0px;
  position: relative;
}

.main-content {
  flex: 1;
  padding: 0 60px;
  overflow: auto;
  margin-bottom: 20px;
}

.custom-modal {
  max-width: 570px;
}

.transparent-modal {
  opacity: 0;
}

.custom-modal .modal-header {
  padding: 20px 30px 0 30px;
}

.custom-modal .modal-body {
  padding: 20px 30px;
}

.custom-modal .modal-info {
  padding: 12px 16px;
  background: #F8FFFF;
  border: 1px solid #A9D5DE;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 20px;
}

.modal-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.modal-header {
  border-bottom: none;
  padding: 30px 30px 2px 30px;
}

.modal-header .close {
  color: #FF5862;
  font-size: 30px;
  line-height: 20px;
  opacity: 1;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .main-content {
    padding: 0 30px;
  }
}
.carousel-control-prev {
  width: 30px;
  height: 30px;
  opacity: 1;
  left: -15px;
  top: 45px;
}

.carousel-control-next {
  width: 30px;
  height: 30px;
  opacity: 1;
  right: -15px;
  top: 45px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  opacity: 1;
  width: 30px;
  /* outline: black; */
  /* background-size: 100%, 100%; */
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  background-color: #1ad8d2;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 18px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 18px;
  color: white;
}

.modal-body .btn {
  padding-left: 24px;
  padding-right: 24px;
}

.modal-body .btn-primary {
  background-color: #1CD8D2;
  border-color: #1CD8D2;
}

.modal-body .btn-primary:hover {
  background-color: #109894;
  border-color: #109894;
}

.modal-body .btn-danger {
  background-color: #FF5862;
  border-color: #FF5862;
}

.modal-body .btn-danger:hover {
  background-color: #AF262E;
  border-color: #AF262E;
}

.modal-body .btn-file {
  background-color: #C4C4C4;
  color: #000000;
  border-color: #C4C4C4;
}

.modal-body .btn-file:hover {
  background-color: #989595;
  color: #000000;
  border-color: #989595;
}

.page-header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 42px;
  margin-bottom: 20px;
}

.item-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6F6F;
}

.item-header .header-text {
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}

input[type=password] {
  padding-right: 50px;
}