/* Globals */

:root  {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270F34;
  --brand-lines: #4B3457;
  /* Blockstack colors */
  --brand-dark: #191d24;
  --brand-mild: #C4D8E5;
  --brand-greyish: #F1F6F9;
  --brand-bright: #3700FF;
  --brand-accent: #00D4FF;
}

html,body{background-color:#F4F4FC;}

inspect {
  border: thin solid red;
}

.navbar-dark {
  background-color: var(--brand-dark) !important;
}

/* Avatar */

.avatar{width:40px; height:40px; border-radius: 50%}

/* Scaffolding */

.panel-landing {
  max-width: 50em;
  margin: auto;
}

.wallet-box .card{
  cursor: pointer;
}

.wallet-box a {
  color: #2f2f2f;
  text-decoration: none;
}

.password-visibility-btn {
  position: absolute;
  top: 6px;
  right: 25px;
  cursor: pointer;
}

.side-content {
  width: 300px;
  height: 1086px;
  overflow-x: hidden;
  background: linear-gradient(180deg, #93EDC7 0%, #1CD8D2 100%);
  border-radius: 0px 50px 50px 0px;
  position: relative;
}

.main-content {
  flex: 1;
}

.custom-modal {
  max-width: 544px;
}

.modal-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.modal-header {
  border-bottom: none;
  padding: 30px 30px 2px 30px;
}

.modal-header .close {
  color: #FF5862;
  font-size: 30px;
  line-height: 20px;
  font-weight: normal;
}

.extension-container {
  height: 650px;
   width: 410px
}