.wallet-box {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 22px 16px 8px 16px;
  height: 120px;
  border:1px solid #f3f0f0;
  margin-bottom: 35px;
}
.wallet-box .top-img {
  margin-bottom: 14px;
}
.wallet-box .top-img img {
  width: 72px;
  height: 25px;
}
.wallet-box .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notes-box {
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  height: 120px;
  background-color: white;
  border:1px solid #f3f0f0;
  margin-bottom: 35px;
}
.note-img {
  text-align: center;
  color: white;
  padding: 22px 0;
  background-color: #2b9b97;
}
.notes-box .icon-note, .notes-box .icon-password {
  font-size: 38px;
}
.notes-box .title {
  font-size: 14px;
  line-height: 34px;
  text-transform: capitalize;
  padding: 0 14px;
}

.new-card {
  height: 120px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 4px;
  text-align: center;
  color: #2B9B98;
  cursor: pointer;
  margin-bottom: 35px;
}

.new-card .new-card-icon {
  font-size: 48px;
}

.new-card .title {
  font-size: 20px;
}

.action-btn {
  position: absolute;
  cursor: pointer;
  visibility: hidden;
  color: #CACACA;
}

.wallet-box .action-btn:hover {
  color: #2b9b97;
}

.notes-box .action-btn:hover {
  color: white;
}

.action-btn.delete-btn {
  right: 10px;
  font-size: 20px;
  top: 6px;
}

.action-btn.view-btn {
  right: 36px;
  font-size: 14px;
  top: 11px;
}

.wallet-box:hover .action-btn, .notes-box:hover .action-btn {
  visibility: visible;
}

.time-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height */
  color: #6F6F6F;
  padding-top: 12px;
  text-align: right;
}

.time-label i {
  margin-right: 4px;
}

.wallet-box.ethereum-box {
  padding-top: 14px;
}

.ethereum-box .top-img img {
  height: 34px;
}

.wallet-box.password-box {
  padding-top: 14px;
}

.password-box .top-img {
  margin-bottom: 4px;
}

.password-box .top-img img {
  width: 33px;
  height: 42px;
}