.custom-input {
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 100px !important;
}

.custom-input.form-control {
  padding-left: 20px;
  padding-right: 20px;
}

.custom-input.invalid {
  border: 1px solid #FF5862;
}

.custom-input.invalid:focus {
  border-color:#FF5862;
  box-shadow: 0px 0px 10px #eaa8ac;
}

.custom-label {
  height: 17px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6F6F;
}

.custom-textarea {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.validation-text {
  font-size: 11px;
  position: absolute;
  right: 20px;
  color: #FF5862;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 25px;
  cursor: pointer;
}
.copy-btn-pw {
  right: 48px;
}

.copy-btn img {
  height: 15px;
  width: 15px;
}