.top-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.search-bar-form {
  position: relative;
}
.search-bar-form span {
  position: absolute;
  right: 16px;
  top: 14px;
  color: #e5e5e5;
}
.form-control.search-bar {
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  width: 520px;
}
.custom-toggle {
  line-height: 45px;
}
.avatar-cont {
  margin-right: 30px;
}
.top-bar .dropdown-menu {
  min-width: 60px;
  top: 14px !important;
  padding: 0;
  margin: 0;
}
